.title{
    margin-top: 2rem;
    text-align: center;
}
/* Formulaire de contact */
.submitContact{
    margin-top: 1rem;
    width: 100%;
}
.form-group{
    margin-top: 1rem;
}


#mapid{
    height: 50vh;
    border-radius: 25px;
}
.titleMagContact{
    text-align: center;
    margin-top: 2rem;
}
.content{
    text-align: center;
}